.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
}
.images-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.main-image {
  display: contents;
}
.image-url {
  width: 60%;
}
.tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
}
.images-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
