.loose-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  width: 420px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
}
.trophy {
  width: 60%;
}
.score-head {
  color: #ffffff;
  font-family: 'roboto';
  font-weight: 800;
}
.count {
  color: #ffffff;
  font-family: 'roboto';
  font-weight: 800;
  font-size: 20px;
}
.play-again {
  background-color: #cf60c8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-width: 0px;
  border-radius: 14px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
}
.reset {
  width: 15%;
  margin: 3px;
}
