.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #2c0e3a;
  padding-right: 10px;
  padding-left: 16px;
}
.website-logo {
  width: 15%;
}
.score-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.score {
  color: #ffffff;
  font-family: 'roboto';
  font-weight: 500;
}
.highlight {
  color: #fec653;
  font-family: 'roboto';
  font-weight: bolder;
  font-size: 20px;
}
.timer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.timer-img {
  width: 13%;
  margin: 3px;
}
